</div>
    <script src="<?= LIBS . 'bootstrap/js/bootstrap.min.js' ?>"> </script>
    <script src="<?= JS . 'scripts.js' ?>"></script>

    <footer class="main-footer">
        <div class="footer__content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer__block">
                        <div class="footer__org">
                            <a class="navbar-brand logo__link" href="<?= FULL_SITE_ROOT ?>"><!--<img src="" alt="logo" class="logo__img">--><div class="logo__item footer__logo__item">SmartDevices</div></a>
                            <div class="footer__copyright">&copy;&nbsp;Название компании&nbsp;<?php echo date('Y') ?>.<br> Все права защищены.</div>
                        </div>
                    </div>
                    <div class="col-md-4 footer__block">
                        <div class="footer__heading">Контакты</div>
                        <address class="address">
                            <a class="contacts-top__item" href="mailto:vladislav.teteryatnikov@gmail.com"><i class="contacts-top__icon fa-solid fa-envelope"></i> vladislav.teteryatnikov@gmail.com</a>
                            <a class="contacts-top__item" href="tel:+79999999999"><i class="contacts-top__icon fas fa-phone"></i> +7&nbsp;(999)&nbsp;999-99-99</a>
                        </address>
                    </div>
                    <div class="col-md-4 footer__block">
                        <div class="footer__heading">Посетите нас в социальных сетях</div>
                        <div class="socials">
                            <a class="contacts-top__item" href="">
                                <i class="contacts-top__icon fa-brands fa-twitter"></i>
                            </a>
                            <a class="contacts-top__item" href="">
                                <i class="contacts-top__icon fa-brands fa-vk"></i>
                            </a>
                            <a class="contacts-top__item" href="">
                                <i class="contacts-top__icon fa-brands fa-facebook-f"></i>
                            </a>
                            <a class="contacts-top__item" href="">
                                <i class="contacts-top__icon fa-brands fa-telegram"></i>
                            </a>
                            <a class="contacts-top__item" href="">
                                <i class="contacts-top__icon fa-brands fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>